* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'poppins', sans-serif;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}

:root {
    --bg-color: #7f0000;
    --second-bg-color: #bd0003;
    --text-color: #f1e3e3;
    --main-color: #ffa372;
    ;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--second-bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    transition: .3s;
}

.header.sticky {
    background: var(--second-bg-color);
}

.logo {
    position: relative;
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
}

.navbar {
    position: relative;
}

.navbar a {
    font-size: 1.7rem;
    color: var(--text-color);
    font-weight: 500;
    margin-left: 3.5rem;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
}

#menu-icon {
    position: relative;
    font-size: 3.6rem;
    color: var(--text-color);
    cursor: pointer;
    display: none;
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
    text-align: center;
}

/*PRESTACIONES*/
.prestaciones {
    padding: 75px 0;
    text-align: center;
    padding-bottom: 7rem;
    background-color: var(--bg-color);
    margin-top: 20px;
    border-bottom: 1px solid var(--main-color);
}

.about-text span {
    color: var(--main-color);
}

.about-text {
    position: relative;
    font-size: 4rem;
    margin-bottom: 3rem;
    line-height: 4rem;
    text-align: center;
}

.prestaciones-contenido {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}

.pe-renglon {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
    width: calc(10% - 20px);
    margin: 30px;
    color: var(--text-color);
}

.pe-renglon img {
    width: 80%;
    height: auto;
    border-radius: 8px;
}

.pe-renglon p {
    font-size: 1.8rem;
    -webkit-text-stroke: 0.3px var(--text-color);
}

/*FORM*/
.solicitudes {
    text-align: center;
    padding: 50px 20px;
    background-image: url(../file/tomateMG.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: contain;
}
.solicitudes h2{
    color: var(--bg-color);
    font-size: 30px;
}

label {
    display: block;
    margin: 15px 0 5px;
    color: black;
    font-size: 14px;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 13px;
    color: #a39a9a;
}

/*FOOTER*/
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--second-bg-color);
}

.footer-text p {
    font-size: 1.5rem;
}

.footer-text p a {
    font-size: 1.5rem;
    color: var(--text-color);
}

.footer-icon a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--bg-color);
    border: .2rem solid var(--main-color);
    border-radius: .6rem;
    z-index: 1;
    overflow: hidden;
}

.footer-icon a i {
    font-size: 2.4rem;
    color: var(--bg-color);
    transition: .5s;
}

.footer-icon a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--second-bg-color);
    z-index: -1;
    transition: .5s;
}

.footer-icon a:hover::before {
    width: 100%;
}

.footer-icon a:hover i {
    color: var(--bg-color);
}

.animate {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: var(--bg-color);
    z-index: 98;
}

.logo .animate,
.navbar .animate,
#menu-icon .animate,
.home.show-animate .animate {
    animation: showRight 1s ease forwards;
    animation-delay: calc(.3s * var(--i));
}

.animate.scroll {
    transition: 1s ease;
    transition-delay: calc(.3s / var(--i));
    animation: none;
}

section:nth-child(odd) .animate.scroll{
    background: var(--second-bg-color);
}

.about.show-animate .animate.scroll{
    transition-delay: calc(.3s * var(--i));
    width: 0;
}


@media only screen and (max-width: 768px) {
    .about-text {
        font-size: 2rem;
    }

    .renglon,
    .pe-renglon{
        width: calc(50% - 20px);
    }
}

@media only screen and (max-width: 480px) {
    .renglon,
    .pe-renglon{
        width: calc(100% - 20px);
    }
}


/* Media queries para hacerlo responsivo */
@media only screen and (min-width: 768px) {
    .about-content,
    .export-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .content-historia,
    .content-info,
    .export-info {
        width: calc(50% - 20px);
    }
}


/* Consulta de medios para dispositivos más pequeños */
@media (max-width: 768px) {
    .prestaciones-contenido {
        flex-direction: column;
        /* Cambia la dirección de la columna en dispositivos más pequeños */
    }
    .pe-renglon{
        width: 100%;
        /* Ocupa todo el ancho en dispositivos más pequeños */
        margin: 20px 0;
    }
}

/*Cuando la pantalla llegue a esta medida se cambiara el tamaño de la letra*/
@media (max-width: 1200px) {
    html {
        font-size: 55%;
    }
}

@media (max-width: 991px) {
    header {
        padding: 2rem 4%;
    }

    section {
        padding: 10rem 4% 2rem;
    }

    .footer {
        padding: 2rem 4%;
    }
}

@media (max-width: 768px) {
    .header {
        background: var(--bg-color);
    }

    #menu-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: -100%;
        width: 100%;
        padding: 1rem 4%;
        background: var(--main-color);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        z-index: 1;
        transition: .25s ease;
        transition-delay: .25s;
    }

    .navbar.active {
        left: 0;
        transition-delay: 0s;

    }

    .navbar .active-nav {
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        z-index: -1;
        transition: .25s ease;
        transition-delay: 0s;
    }

    .navbar.active .active-nav {
        left: 0;
        transition-delay: .25s;
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        transform: translateX(-20rem);
        transition: .25s ease;
        transition-delay: 0s;
    }

    .navbar.active a {
        transform: translateX(0);
        transition-delay: .25s;
    }
}

@media (max-width: 520px) {
    html {
        font-size: 50%;
    }

    .text-animate span {
        flex-direction: column;
    }
}

@media (max-width: 462px) {
    .footer {
        flex-direction: column-reverse;
    }

    .footer p {
        margin-top: 2rem;
        text-align: center;
    }
}

@media (max-width: 371px) {
    .home {
        justify-content: center;
    }

    .text-animate {
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }
}

@keyframes aboutSpinner {
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@keyframes showRight {
    100% {
        width: 0;
    }
}



.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    max-width: 500px;
    color: black;
    line-height: 2rem;
    font-size: 13px;
    text-align: justify;
}

.modal-content button{
    background-color: #7f0000;
    padding: 1%;
    border-radius: 20%;
    margin-top: 2%;
}


.container {

    max-width: 500px;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container h2 {
    text-align: center;
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

.input-group input, .input-group select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.input-group textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.input-group .btn {
    padding: 10px 20px;
    background-color: var(--bg-color);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 6%;
}

.input-group .btn:hover {
    background-color: var(--main-color);
}