* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'poppins', sans-serif;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}

:root {
    --bg-color: #7f0000;
    --second-bg-color: #bd0003;
    --text-color: #f1e3e3;
    --main-color: #ffa372;
    ;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--second-bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    transition: .3s;
}

.header.sticky {
    background: var(--bg-color);
}

.logo {
    position: relative;
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
}

.navbar {
    position: relative;
}

.navbar a {
    font-size: 1.7rem;
    color: var(--text-color);
    font-weight: 500;
    margin-left: 3.5rem;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
}

#menu-icon {
    position: relative;
    font-size: 3.6rem;
    color: var(--text-color);
    cursor: pointer;
    display: none;
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

/*HOME*/
.home {
    display: flex;
    align-items: center;
    padding: 0 2%;
    background-image:  url(../file/prueba.png);
    background-size: cover;
    background-position: center;
    justify-content: center;
    text-align: center;
}

.home-content {
    max-width: 100%;
}

.home-content h1 {
    position: relative;
    display: inline-block;
    font-size: 7rem;
    font-weight: 900;
    line-height: 1.3;
    margin: 0;
}

.home-content .text-animate {
    position: relative;
    width: 100%;
    margin-bottom: 2%;
}

.home-content .text-animate h3 {
    font-size: 4rem;
    font-weight: 700;
    color: transparent;
    -webkit-text-stroke: .8px var(--text-color);
}

.home-content .text-animate span {
    color: var(--main-color);
}

.solicitud {
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #fff;
    width: fit-content;
    /*display: block;*/
    margin: 20px 2px;
    padding: 5px 5px;
    font-size: 16px;
    color: #fff;
    position: relative;
    z-index: 10;
}

.solicitud .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: var(--second-bg-color);
    z-index: -1;
    transition: 1s;
}

.solicitud:hover .overlay {
    width: 100%;
}

/*PRODUCTOS*/
.productos {
    padding: 75px 0;
    text-align: center;
    padding-bottom: 7rem;
    background-color: var(--second-bg-color);
}

.productos-contenido {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}

.renglon {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
    width: calc(30% - 20px);
    margin: 30px;
    color: var(--text-color);
}

.renglon img {
    width: 80%;
    height: auto;
    border-radius: 8px;
}

.renglon p {
    font-size: 1.8rem;
    -webkit-text-stroke: 0.3px var(--text-color);
}


/*ACERCA DE*/
.about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    padding-bottom: 6rem;
    background: var(--bg-color)
}

.about-text span {
    color: var(--main-color);
}

.about-img {
    position: relative;
    width: 20%;
    height: 20%;
    max-width: 400px;
}

.about-img img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    border: .2rem solid var(--main-color);
    transition: transform 0.3s ease-in-out;
}

.circle-spin {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border-top: .2rem solid var(--bg-color);
    border-bottom: .2rem solid var(--bg-color);
    border-left: .2rem solid var(--main-color);
    border-right: .2rem solid var(--main-color);
    animation: aboutSpinner 8s linear infinite;
}

.about-content {
    text-align: justify;
    width: 100%;
}

.content-info {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    line-height: 2.5rem;
}

.content-info h1 {
    font-size: 2rem;
    text-align: center;
    color: var(--main-color);
}

.content-info p {
    font-size: 1.6rem;
}

.content-info img {
    max-width: 15%;
    height: auto;
    margin-left: 40%;
}

/*CAROUSEL*/
.carousel-text{
    position: relative;
    font-size: 2.5rem;
    text-align: center;
}
.carousel{
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 92vh;
}

.carousel-content{
    width: 350px;
    height: 350px;
    background: transparent;
    margin: auto;
    position: relative;
    overflow: hidden;
    border-radius: 10px 10px 10px 10px;
    transform: scale(0.93);
    transition: box-shadow 0.5s transform 0.5s;
    z-index: 1000;
}

.carousel-content:hover{
    transform: scale(1);
    box-shadow: 5px 20px 30px rgba(0,0,0,0.2);
}

.carousel-content .container{
    width: 100%;
    height: 100%;
}

.carousel-content .container .img-slider{
    height: 100%;
    width: 100%;
    background-size: 100%;
}

.carousel-content .inside{
    z-index: 9;
    background: var(--second-bg-color);
    width: 140px;
    height: 140px;
    position: absolute;
    top: -70px;
    right: -70px;
    border-radius: 0px 0px 200px 200px;
    transition: all 0.5s, border-radius 2s, top 1s;
    overflow: hidden;
}

.carousel-content .inside .icon{
    position: absolute;
    font-size: 20px;
    right: 85px;
    top: 85px;
    color: white;
    opacity: 1;
}

.carousel-content .inside:hover{
    width: 100%;
    right: 0;
    top: 0;
    border-radius: 0;
    height: 100%;
}

.carousel-content .inside:hover .icon{
    opacity: 0;
    right: 15px;
    top: 15px;
}

.carousel-content .inside:hover .contents{
    opacity: 1;
    transform: scale(1);
    transform: translateY(0);
}

.carousel-content .inside .contents{
    padding: 5%;
    opacity: 0;
    transform: scale(0.5);
    transform: translateY(-200%);
    transition: opacity 0.2s, transform 0.8s;
}

.carousel-content .inside .contents h2,
.carousel-content .inside .contents p {
    color: var(--text-color);
}

.carousel-content .inside .contents p{
    font-size: 19px;
}

/*PROYECTOS*/
.proyectos {
    padding: 75px 0;
    text-align: center;
    padding-bottom: 7rem;
    background-color: var(--second-bg-color);
    margin-top: 20px;
}

.about-text {
    position: relative;
    font-size: 4rem;
    margin-bottom: 3rem;
    line-height: 4rem;
    text-align: center;
}

.proyectos-contenido {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}

.contenido {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    width: calc(33.33% - 20px);
    margin: 10px;
}

.contenido img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.contenido p {
    font-size: 1.5rem;
    line-height: 3rem;
}

.layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.7), var(--main-color));
    /* Puedes ajustar la opacidad y el color */
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.layer h5 {
    margin: 0;
    font-size: 1.7em;
}

.contenido:hover .layer {
    opacity: 1;
}

/*EXPORTACIONES*/
.export {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    padding-bottom: 6rem;
    background: var(--bg-color)
}

.export-content {
    text-align: justify;
    width: 100%;
}

.export-info{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    line-height: 2.5rem;
}

.export-info .export-img{
    max-width: 100%;
    height: auto;
    align-items: center;
    margin: 0
}

.export-info h1 {
    font-size: 2rem;
    text-align: center;
    color: var(--main-color);
}

.export-info p {
    font-size: 1.6rem;
}

.export-info img {
    max-width: 18%;
    height: auto;
    margin-left: 40%;
}

/*CONTACTO*/
.contacto {
    padding: 75px 0;
    background-image: url(../file/Tomate.jpg);
    color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
}

.contacto .contenido-seccion {
    max-width: 1100px;
    margin: auto;
}

.contacto .file {
    display: flex;
}

.contacto .col {
    width: 50%;
    padding: 10px;
    position: relative;
    padding-bottom: 80px;
}

.contacto .col input,
.contacto .col textarea {
    display: block;
    width: 100%;
    padding: 18px;
    border: none;
    margin-bottom: 20px;
    background-color: #252A2E;
    color: #fff;
    font-size: 18px;
}

.contacto button {
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #fff;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: #fff;
    position: relative;
    z-index: 10;
}

.contacto button .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: var(--second-bg-color);
    z-index: -1;
    transition: 1s;
}

.contacto button:hover .overlay {
    width: 100%;
}

.contacto .col img {
    width: 100%;
}

.contacto .col .info {
    position: absolute;
    top: 40%;
    background-color: #252A2E;
    padding: 20px;
    max-width: 450px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contacto .col .info ul {
    list-style: none;
}

.contacto .col .info ul li {
    margin-bottom: 20px;
    font-size: 1.3rem;
}

/*FOOTER*/

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--bg-color);
}

.footer-text p {
    font-size: 1.5rem;
}

.footer-text p a {
    font-size: 1.5rem;
    color: var(--text-color);
}

.footer-icon a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--bg-color);
    border: .2rem solid var(--main-color);
    border-radius: .6rem;
    z-index: 1;
    overflow: hidden;
}

.footer-icon a i {
    font-size: 2.4rem;
    color: var(--bg-color);
    transition: .5s;
}

.footer-icon a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--second-bg-color);
    z-index: -1;
    transition: .5s;
}

.footer-icon a:hover::before {
    width: 100%;
}

.footer-icon a:hover i {
    color: var(--bg-color);
}

.animate {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: var(--bg-color);
    z-index: 98;
}

.logo .animate,
.navbar .animate,
#menu-icon .animate,
.home.show-animate .animate {
    animation: showRight 1s ease forwards;
    animation-delay: calc(.3s * var(--i));
}

.animate.scroll {
    transition: 1s ease;
    transition-delay: calc(.3s / var(--i));
    animation: none;
}

section:nth-child(odd) .animate.scroll{
    background: var(--second-bg-color);
}

.about.show-animate .animate.scroll{
    transition-delay: calc(.3s * var(--i));
    width: 0;
}


@media only screen and (max-width: 768px) {
    .about-text {
        font-size: 2rem;
    }

    .renglon,
    .contenido{
        width: calc(50% - 20px);
    }
}

@media only screen and (max-width: 480px) {
    .renglon,
    .contenido{
        width: calc(100% - 20px);
    }
}


/* Media queries para hacerlo responsivo */
@media only screen and (min-width: 768px) {
    .about-content,
    .export-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .content-historia,
    .content-info,
    .export-info {
        width: calc(50% - 20px);
    }
}


/* Consulta de medios para dispositivos más pequeños */
@media (max-width: 768px) {
    .productos-contenido {
        flex-direction: column;
        /* Cambia la dirección de la columna en dispositivos más pequeños */
    }

    .renglon,
    .contenido{
        width: 100%;
        /* Ocupa todo el ancho en dispositivos más pequeños */
        margin: 20px 0;
    }
}

/*Cuando la pantalla llegue a esta medida se cambiara el tamaño de la letra*/
@media (max-width: 1200px) {
    html {
        font-size: 55%;
    }
}

@media screen and (max-width: 700px) {
    .contacto .file {
        display: block;
    }

    .contacto .file .col {
        width: 100%;
    }
}

@media (max-width: 991px) {
    header {
        padding: 2rem 4%;
    }

    section {
        padding: 10rem 4% 2rem;
    }

    .home {
        padding: 0 4%;
    }

    .footer {
        padding: 2rem 4%;
    }
}

@media (max-width: 768px) {
    .header {
        background: var(--bg-color);
    }

    #menu-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: -100%;
        width: 100%;
        padding: 1rem 4%;
        background: var(--main-color);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        z-index: 1;
        transition: .25s ease;
        transition-delay: .25s;
    }

    .navbar.active {
        left: 0;
        transition-delay: 0s;

    }

    .navbar .active-nav {
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        z-index: -1;
        transition: .25s ease;
        transition-delay: 0s;
    }

    .navbar.active .active-nav {
        left: 0;
        transition-delay: .25s;
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        transform: translateX(-20rem);
        transition: .25s ease;
        transition-delay: 0s;
    }

    .navbar.active a {
        transform: translateX(0);
        transition-delay: .25s;
    }
}

@media (max-width: 520px) {
    html {
        font-size: 50%;
    }

    .home-content h1 {
        display: flex;
        flex-direction: column;
    }

    .home-sci {
        width: 160px;
    }

    .home-sci a {
        width: 38px;
        height: 38px;
    }

    .text-animate span {
        flex-direction: column;
    }
}

@media (max-width: 462px) {
    .home-content h1 {
        font-size: 4rem;
    }

    .footer {
        flex-direction: column-reverse;
    }

    .footer p {
        margin-top: 2rem;
        text-align: center;
    }
}

@media (max-width: 371px) {
    .home {
        justify-content: center;
    }

    .home-content,
    .text-animate {
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }

    .home-content h1 {
        font-size: 3rem;
    }
}

@keyframes aboutSpinner {
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@keyframes showRight {
    100% {
        width: 0;
    }
}
